/*--- VARIABLES USED IN SUBHĀSHĀ ---*/
:root {
     /* COLOURS */
     --black: #0c0c0c;
     --black-40: rgba(12,12,12,0.3);
     --purple: #cb398d;
     --purple-40: rgba(239, 154, 204, 0.3);
     --purple-50: rgba(95, 8, 59, 0.3);
     --cream: #fffefa;


     /* SIZES */

     --base: 1rem;

     /* Spacing */
     --x-small: 0.25rem;
     --small: 0.5rem;
     --medium: 1.5rem;
     --large: 2rem;
     --x-large: 3rem;

     /* Typescale */
     --h1: 2.5rem;
     --h2: 1.9882rem;
     --h3: 1.5811rem;
     --h4: 1.2574rem;
     --h5: 1.138rem;
     --h6: 1.067rem;
     --tSmall: 0.7368rem;

     /* TYPOGRAPHY */
     --header-font: "Alegreya", serif;
     --body-font: "Work Sans", sans-serif;
}

/* Sinhala font */
@font-face {
     font-family: "ApexAPura39";
     src: url(/assets/font/apex039.ttf) format("truetype");
}

/*--- GLOBAL STYLES ---*/
* {
     box-sizing: border-box;
}

html {
     font-size: 100%;
}

p {
     margin: 0;
}

/*--- GAME UI ---*/
.sound-ui {
     display: flex;
     justify-content: space-around;

     margin-top: 24px;
}

.home {
     display: inline-block;
     width: 48px;
     height: 48px;
     padding: 12px;
}

.sin {
     font-family: "Noto Sans Sinhala", sans-serif;
     font-weight: 700;
}

.eng {
     font-family: "proxima-soft", sans-serif;
     font-weight: 700;
}

.instructions {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.instructions p {
     font-size: var(--h4);
}

.button {
     margin-top: 12px;
}

.check-button {
     display: flex;
     justify-content: space-around;
}

button {
     width: 64px;
     height: 64px;
     padding: 12px;
}

/*--- PLAY AREA STYLING ---*/
.playarea {
     width: 100%;
     height: 100%;
     /* background-color: lightcoral; */
     padding: 15px;

     /* Center the play area for the display */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/*--- DROP TARGET STYLING ---*/
.placearea {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     width: fit-content;
     height: fit-content;
}

.placeholder {
     width: 150px;
     height: 150px;
     border: var(--x-small) dotted #cecece;

     margin: var(--small);
     justify-self: center;
     align-self: center;
}

.letter.placeholder {
     grid-area: 2 / 2 / span 1 / span 1;
}

.diacrit.placeholder {
     border: 4px dotted plum;
}

.placeholder.top {
     grid-area: 1 / 2 / span 1 / span 1;
}

.placeholder.right {
     grid-area: 2 / 3 / span 1 / span 1;
}
.placeholder.bottom {
     grid-area: 3 / 2 / span 1 / span 1;
}
.placeholder.left {
     grid-area: 2 / 1 / span 1 / span 1;
}


/*--- TILE STYLING ---*/
.tray {
     display: flex;
     gap: 12px;
     justify-content: center;
     align-items: center;
     width: 80vw;

     background-color: rgba(211, 211, 211, 0.309);

     padding: var(--small);

}

.letter.highlight {
     background-color: rgba(211, 211, 211, 0.5);
}

.diacrit.highlight {
     background-color: rgba(221, 160, 221, 0.5);
}

.tile {
     min-width: fit-content;
     min-height: fit-content;
     width: 128px;
     height: 128px;
     
     border: 1px solid lightgray;
     background-color: white;
     
     display: flex;
     justify-content: center;
     align-items: center;

     padding: 12px;
     margin: 4px;

     font-size: 48px;

     box-shadow: 1px 2px gray;

     font-family: ApexAPura39;
}

.diacrit.tile {
     color: plum;
}

/*--- PAGE TRANSITION ---*/

.sound-section {
     position:absolute;
     inset: 0;
     opacity: 0;
     pointer-events: none;
}

.active {
     opacity: 1;
     pointer-events: all;
}