/*--- VARIABLES USED IN SUBHĀSHĀ ---*/

/* Sinhala font */
@font-face {
     font-family: "ApexAPura39";
     src: url(/assets/font/apex039.ttf) format("truetype");
}

:root {
     /* COLOURS */

     /* Primary */
     --white: rgba(255, 255, 255, 1);
     --black: rgba(24, 22, 29, 1);
     --black-40: rgba(143, 132, 164, 1);
     --black-20: rgba(212, 208, 220, 1);
     --black-10: rgba(244, 243, 246, 1);
     
     
     --purple: rgba(134, 75, 251, 1);
     --purple-40: rgba(164, 120, 252, 1);
     --purple-10: rgba(245, 240, 255, 1);

     /* Accents */
     --accent-blue: rgba(71, 71, 245, 1);
     --accent-green: rgba(41, 163, 92, 1);
     --accent-vermillion: rgba(228, 68, 63, 1);
     --accent-pumpkin: rgba(250, 134, 66, 1);
     --accent-saffron: rgba(251, 199, 85, 1);

     /* SIZES */

     --base: 1rem;

     /* Spacing */
     --x-small: 0.25rem;
     --small: 0.5rem;
     --medium: 1.5rem;
     --large: 2rem;
     --x-large: 3rem;

     /* Typescale */
     --h1: 2.5rem;
     --h2: 1.9882rem;
     --h3: 1.5811rem;
     --h4: 1.2574rem;
     --h5: 1.138rem;
     --h6: 1.067rem;
     --tSmall: 0.7368rem;

     /* TYPOGRAPHY */
     --sin-font: "Noto Sans Sinhala", sans-serif;
     --sin-tile-font: "ApexAPura39", "Notot Sans Sinhala", sans-serif;
     --eng-font: "proxima-soft", sans-serif;
}



/*--- GLOBAL STYLES ---*/
* {
     box-sizing: border-box;
}

html {
     font-size: 100%;
}

p {
     margin: 0;
}

a {
     font-family: inherit;
     color: inherit;
     text-decoration: none;
}

main {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 48px;

     width: 100vw;
     height: 100vh;
}

.sin {
     font-family: var(--sin-font);
}

.eng {
     font-family:var(--eng-font);
     font-weight: 500;
}

/*--- NAVIGATION ---*/

.nav-button {
     display: inline-block;
     width: fit-content;
     height: fit-content;
}

.large.nav-button .label {
     font-size: var(--h3);
}

.label .eng {
     color: gray;
}